.hero {

  &__container {
    padding-top: 93px;
    padding-bottom: 93px;
    background-image: url("../img/hero/1920/microphone.png");
    background-repeat: no-repeat;
    background-position-x: 805px;
    background-position-y: 37px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 60px;
  }


  &__name {
    padding-left: 13px;
    font-weight: 400;
    font-style: italic;
  }

  &__descr {
    margin-bottom: 45px;
    max-width: 607px;

    span {
      margin-right: 5px;
      padding-left: 3px;
    }
  }

  &__link {
    margin-right: 2px;
    padding-left: 5px;
  }

  &__btn {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
