-
  const genres = {
    'Постпанк': 'post',
    'Хардкор': 'hard',
    'Панк-рок': 'punk',
    'Рок': 'rock',
    'Прогрессивный рок': 'prog',
    'Электронная музыка': 'electro',
    'Классическая музыка': 'classic',
    'Звуки природы и шум города': 'nature',
  };

  const artists = [
    {
      'title': 'Ploho',
      'info': '3 последних альбома',
      'country': `./img/playlists/country/russia.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist24.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile24.jpg`,
    },
    {
      'title': 'Molchat Doma',
      'info': 'Все песни',
      'country': `./img/playlists/country/russia.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist23.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile23.jpg`,
    },
    {
      'title': 'Motorama',
      'info': 'синглы',
      'country': `./img/playlists/country/russia.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist22.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile22.jpg`,
    },
    {
      'title': 'Human Tetris',
      'info': '3 последних альбома',
      'country': `./img/playlists/country/russia.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist21.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile21.jpg`,
    },
    {
      'title': 'Буерак',
      'info': '3 последних',
      'country': `./img/playlists/country/russia.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist20.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile20.jpg`,
    },
    {
      'title': 'Июльские Дни',
      'info': 'Альбом «Колокол»',
      'country': `./img/playlists/country/russia.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist19.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile19.jpg`,
    },
    {
      'title': 'Joy Division',
      'info': 'Лучшее за всё время',
      'country': `./img/playlists/country/uk.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist18.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile18.jpg`,
    },
    {
      'title': 'The Cure',
      'info': 'Лучшее за всё время',
      'country': `./img/playlists/country/uk.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist17.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile17.jpg`,
    },
    {
      'title': 'The Smiths',
      'info': 'Период 1984–1988',
      'country': `./img/playlists/country/uk.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist16.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile16.jpg`,
    },
    {
      'title': 'New Order',
      'info': 'Хиты',
      'country': `./img/playlists/country/uk.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist15.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile15.jpg`,
    },
    {
      'title': 'Bauhaus',
      'info': 'Все синглы',
      'country': `./img/playlists/country/uk.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist14.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile14.jpg`,
    },
    {
      'title': 'Gang Of Four',
      'info': '3 последних альбома',
      'country': `./img/playlists/country/uk.jpg`,
      'pictureDesktop': `./img/playlists/1920/playlist13.jpg`,
      'pictureMobile': `./img/playlists/mobile/playlist-mobile13.jpg`,
    },
  ]
