-
  const options = {
    "one": "Дмитрий Гутенберг",
    "two": "Татьяна Флеганова",
    "three": "Анна Васильева",
    "four": "Пётр Дмитриевский",
  };
  const paths = ["one", "two", "three", "four"];
  const programsOne = [
    //- Дмитрий Гутенберг
    [
      {
        "title": "О людях и книгах",
        "time": "Анонсируется отдельно",
        "img": `./img/programs/common/program-22.jpg`,
      },
      {
        "title": "Графомания td.",
        "time": " По понедельникам в 10:00",
        "img": `./img/programs/common/program-21.jpg`,
      },
      {
        "title": "Не Рим, не Троя",
        "time": "По вторникам в 12:00",
        "img": `./img/programs/common/program-20.jpg`,
      },
      {
        "title": "Эрудит",
        "time": "По пятницам в 17:00",
        "img": `./img/programs/common/program-19.jpg`,
      },
      {
        "title": "Тонкости эпох",
        "time": "По субботам в 10:00",
        "img": `./img/programs/common/program-18.jpg`,
      },
      {
        "title": "Живые мысли",
        "time": "По воскресеньям в 15:30",
        "img": `./img/programs/common/program-17.jpg`,
      },
    ],
    //- Татьяна Флеганова
    [
      {
        "title": "Постфактум",
        "time": "По вторникам в 12:00 ",
        "img": `./img/programs/common/program-16.jpg`,
      },
      {
        "title": "Связи 2.0",
        "time": "По вторникам в 18:00 ",
        "img": `./img/programs/common/program-15.jpg`,
      },
      {
        "title": "Контекст",
        "time": "По средам в 12:00",
        "img": `./img/programs/common/program-14.jpg`,
      },
      {
        "title": "Научпоп",
        "time": "По пятницам в 10:00",
        "img": `./img/programs/common/program-13.jpg`,
      },
      {
        "title": "Физика",
        "time": "По субботам в 14:00",
        "img": `./img/programs/common/program-12.jpg`,
      },
      {
        "title": "Энергия",
        "time": "Анонсируется отдельно",
        "img": `./img/programs/common/program-11.jpg`,
      },
    ],
    //- Анна Васильева
    [
      {
        "title": "Своя культура",
        "time": "По вторникам в 11:00 ",
        "img": `./img/programs/common/program-10.jpg`,
      },
      {
        "title": "Утро XX века",
        "time": "Анонсируется отдельно",
        "img": `./img/programs/common/program-9.jpg`,
      },
      {
        "title": "Юра, мы всё...",
        "time": "Анонсируется отдельно",
        "img": `./img/programs/common/program-8.jpg`,
      },
      {
        "title": "Времена и нравы",
        "time": "По четвергам в 12:00",
        "img": `./img/programs/common/program-7.jpg`,
      },
      {
        "title": "17:54",
        "time": "По четвергам в 16:00",
        "img": `./img/programs/common/program-6.jpg`,
      },
      {
        "title": "Как так?",
        "time": "По понедельникам в 20:00",
        "img": `./img/programs/common/program-5.jpg`,
      },
    ],
    //- fffff
    [
      {
        "title": "Регистр",
        "time": "По понедельникам в 14:00",
        "img": `./img/programs/common/program-4.jpg`,
      },
      {
        "title": "День радио",
        "time": "По вторникам в 19:00 ",
        "img": `./img/programs/common/image11.jpg`,
      },
      {
        "title": "Нотный стан",
        "time": "По средам в 16:00",
        "img": `./img/programs/common/image1.jpg`,
      },
      {
        "title": "Мой рок",
        "time": "Мой рок",
        "img": `./img/programs/common/program-3.jpg`,
      },
      {
        "title": "Такая музыка",
        "time": "По субботам в 11:00",
        "img": `./img/programs/common/program-2.jpg`,
      },
      {
        "title": "Новая волна",
        "time": "Анонсируется отдельно",
        "img": `./img/programs/common/program-1.jpg`,
      },
    ],
  ];
