-
  const url = "./img/podcasts/common";
  const podcastsData = [
    {
      "title": "Европа. XIX век",
      "host": "Дмитрий Гутенберг",
      "imgDesktop": `./img/podcasts/desktop/europe.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile8.jpg`,
      "time": "15:34",
      "date": "14 июня",
      "count": 258,
      "like": 104,
      "share": 68
    },
    {
      "title": "О музыке",
      "host": "Дмитрий Гутенберг",
      "imgDesktop": `./img/podcasts/desktop/about-music.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile7.jpg`,
      "time": "5:32",
      "date": "14 июня",
      "count": 207,
      "like": 34,
      "share": 18
    },
    {
      "title": "Люди сегодня",
      "host": "Анна Васильева",
      "imgDesktop": `./img/podcasts/desktop/people-today.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile6.jpg`,
      "time": "8:54",
      "date": "14 июня",
      "count": 104,
      "like": 54,
      "share": 42
    },
    {
      "title": "Хэллоу, Африка",
      "host": "Пётр Дмитриевский",
      "imgDesktop": `./img/podcasts/desktop/hello-africa.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile5.jpg`,
      "time": "9:04",
      "date": "14 июня",
      "count": 87,
      "like": 44,
      "share": 5
    },
    {
      "title": "Обо всём",
      "host": "Пётр Дмитриевский",
      "imgDesktop": `./img/podcasts/desktop/about-everything.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile4.jpg`,
      "time": "7:03",
      "date": "2 июня",
      "count": 64,
      "like": 30,
      "share": 8
    },
    {
      "title": "Физика цвета",
      "host": "Татьяна Флеганова",
      "imgDesktop": `./img/podcasts/desktop/physic-color.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile3.jpg`,
      "time": "9:15",
      "date": "28 мая",
      "count": 58,
      "like": 29,
      "share": 14
    },
    {
      "title": "Источник звука",
      "host": "Пётр Дмитриевский",
      "imgDesktop": `./img/podcasts/desktop/origin-sound.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile2.jpg`,
      "time": "16:04",
      "date": "22 мая",
      "count": 55,
      "like": 20,
      "share": 12
    },
    {
      "title": "Правила этикета",
      "host": "Татьяна Флеганова",
      "imgDesktop": `./img/podcasts/desktop/rules.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile1.jpg`,
      "time": "6:55",
      "date": "18 мая",
      "count": 24,
      "like": 54,
      "share": 42
    },
     {
      "title": "Люди сегодня",
      "host": "Анна Васильева",
      "imgDesktop": `./img/podcasts/desktop/people-today.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile6.jpg`,
      "time": "8:54",
      "date": "14 июня",
      "count": 104,
      "like": 54,
      "share": 42
    },
    {
      "title": "Хэллоу, Африка",
      "host": "Пётр Дмитриевский",
      "imgDesktop": `./img/podcasts/desktop/hello-africa.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile5.jpg`,
      "time": "9:04",
      "date": "14 июня",
      "count": 87,
      "like": 44,
      "share": 5
    },
    {
      "title": "Обо всём",
      "host": "Пётр Дмитриевский",
      "imgDesktop": `./img/podcasts/desktop/about-everything.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile4.jpg`,
      "time": "7:03",
      "date": "2 июня",
      "count": 64,
      "like": 30,
      "share": 8
    },
    {
      "title": "Физика цвета",
      "host": "Татьяна Флеганова",
      "imgDesktop": `./img/podcasts/desktop/physic-color.jpg`,
      "imgMobile": `./img/podcasts/mobile/podcast-mobile3.jpg`,
      "time": "9:15",
      "date": "28 мая",
      "count": 58,
      "like": 29,
      "share": 14
    },
  ];
