-
  const sliderCards = [
    {
      'img320': './img/about/people/568/about-320-1.jpg',
      'img768': './img/about/people/768/about-768-1.jpg',
      'img1024': './img/about/people/1024/about-1024-1.jpg',
      'img1920': './img/about/people/1920/about1.jpg',
      'name': 'Дмитрий Гутенберг',
      'desc': 'Эксперт (ну, почти) по всем вопросам (почти)',
    },
    {
      'img320': './img/about/people/568/about-320-2.jpg',
      'img768': './img/about/people/768/about-768-2.jpg',
      'img1024': './img/about/people/1024/about-1024-2.jpg',
      'img1920': './img/about/people/1920/about2.jpg',
      'name': 'Анна Васильева',
      'desc': 'Как я здесь оказалась? А главное — зачем?',
    },
    {
      'img320': './img/about/people/568/about-320-3.jpg',
      'img768': './img/about/people/768/about-768-3.jpg',
      'img1024': './img/about/people/1024/about-1024-3.jpg',
      'img1920': './img/about/people/1920/about3.jpg',
      'name': 'Пётр Дмитриевский',
      'desc': 'Господа! Внимание! Благодарю за внимание!',
    },
    {
      'img320': './img/about/people/568/about-320-4.jpg',
      'img768': './img/about/people/768/about-768-4.jpg',
      'img1024': './img/about/people/1024/about-1024-4.jpg',
      'img1920': './img/about/people/1920/about4.jpg',
      'name': 'Татьяна Флеганова',
      'desc': 'Одна я в пальто стою красивая, а вокруг…',
    },
    {
      'img320': './img/about/people/568/about-320-5.jpg',
      'img768': './img/about/people/768/about-768-5.jpg',
      'img1024': './img/about/people/1024/about-1024-5.jpg',
      'img1920': './img/about/people/1920/about5.jpg',
      'name': 'Фёдор Прокопьев',
      'desc': 'Привет! Я фотограф, музыкант, ведущий',
    },
    {
      'img320': './img/about/people/568/about-320-6.jpg',
      'img768': './img/about/people/768/about-768-6.jpg',
      'img1024': './img/about/people/1024/about-1024-6.jpg',
      'img1920': './img/about/people/1920/about6.jpg',
      'name': 'Светлана Кортнева',
      'desc': 'Художник-оформитель. Оформляю',
    },
  ]
