-
  // const guestsListTitle = [
  //   'Блогеры',
  //   'Арт-критики',
  //   'Художники',
  //   'Люди науки',
  //   'Историки',
  //   'Филологи'
  // ];

  const guestsListPeople = [
    {
      title: 'Блогеры',
      data: [
        {
          "name": "Сергей Денисов",
          "path": "path_1"
        },
        {
          "name": "Матвей Мечников",
          "path": "path_2"
        },
        {
          "name": "Константин Прусино",
          "path": "path_3"
        },
        {
          "name": "Иван Калитников",
          "path": "path_4"
        },
        {
          "name": "Евгений Войновский",
          "path": "path_5"
        },
        {
          "name": "Ольга Мартынова",
          "path": "path_6"
        },
        {
          "name": "Дмитрий Михалок",
          "path": "path_7"
        },
        {
          "name": "Пётр Пиотровский",
          "path": "path_8"
        },
        {
          "name": "Олег Свиридовский",
          "path": "path_9"
        },
        {
          "name": "Владислав Кауперс",
          "path": "path_10"
        },
        {
          "name": "Михаил Пожитников",
          "path": "path_11"
        },
        {
          "name": "Георгий Полуян",
          "path": "path_12"
        },
        {
          "name": "Денис Тельман",
          "path": "path_13"
        },
        {
          "name": "Юрий Горин",
          "path": "path_14"
        },
        {
          "name": "Максим Сергеев",
          "path": "path_15"
        }
      ]
    },
    {
      title: "Арт-критики",
      data: [
        {
          "name": "Пока пусто...",
          "path": ""
        },

      ]
    },
    {
      title: "Художники",
      data: [
        {
          "name": "Пока пусто...",
          "path": ""
        },

      ]
    },
    {
      title: "Люди науки",
      data: [
        {
          "name": "Пока пусто...",
          "path": ""
        },

      ]
    },
    {
      title: "Историки",
      data: [
        {
          "name": "Пока пусто...",
          "path": ""
        },

      ]
    },
    {
      title: "Филологи",
      data: [
        {
          "name": "Пока пусто...",
          "path": ""
        },

      ]
    },
  ]
