section.market
  .container.market__container
    picture.market__pic
      //- source(srcset="./img/market/1024/market-1024-1.png" , media="(max-width: 567px)")
      source(srcset="./img/market/320/market-320-1.png" , media="(max-width: 767px)")
      source(srcset="./img/market/768/market-768-1.png" , media="(max-width: 1023px)")
      source(srcset="./img/market/1024/market-1024-1.png", media="(max-width: 1200px)")
      source(srcset="./img/market/1920/market3.png", media="(max-width: 1920px)")
      img(src="./img/market/1920/market3.png", alt="Радиоприемник")
    .market__content
      h2.market__title.section-title Будь с нами на одной волне!
      .market__desc
        p.market__desc-content Друзья, рады представить вам продукт нашего производства! Да-да, несмотря на&nbsp;то, что мы&nbsp;только начали свой путь радиовещателей, нам хочется, чтобы вы&nbsp;могли как следует нас расслышать:)
        p.market__desc-content Итак, встречайте! Портативный радиоприёмник-колонка W-Wave 1.0&nbsp;xm. Тщательный подбор всех делатей, ручная сборка, качественный звук. Пока доступно только 60&nbsp;штук в&nbsp;3&nbsp;цветах, но&nbsp;мы&nbsp;активно трудимся над новыми партиями и&nbsp;дизайном. Спешите приобрести!
      div.market__price 2800 &#8381
      a(href="#").market__link.promo-btn Купить на Яндекс.Маркет
