include data/_data-playlists.pug

section.playlists#playlists
  .container.playlists__container
    .playlists__info
      h2.playlists__title.section-title Плейлисты
      .playlists__genres
        h3.playlists__subtitle.section-subtitle Жанр
        form.playlists__form(action="")
          ul.playlists__list
            each id, text in genres
              li.playlists__item
                label.playlists__label(for= id)
                  input.playlists__input(type="radio", id= id, value= id, name="playlist")
                  span.playlists__custom-radio
                  span.playlists__text= text
      .playlists__pegi
        p.playlists__pegi-descr Раздел &laquo;Плейлисты&raquo; может содержать информацию, не&nbsp;предназначенную для несовершеннолетних
        div.playlists__pegi-date &copy&nbsp
          span.playlists__pegi-year
          span.playlists__pegi-logo  &nbsp/ W-Wave
        span.playlists__pegi-icon 18+
    .playlists__content
      ul.playlists__artists
        each artist in artists
          li.playlists__artist
            button.playlists__card.btn
              img(src= artist.country, alt="county").playlists__img-county
              picture
                  source(srcset= artist.pictureMobile, media="(max-width: 1200px)")
                  source(srcset= artist.pictureDesktop, media="(max-width: 1920px)")
                  img(src= artist.pictureDesktop, alt= artist.title)
              .playlists__card-content
                h3.playlists__card-title= artist.title
                span.playlists__card-desc= artist.info
              //- button.playlists__play-btn.btn
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="21" fill="#6D31EE"/>
                <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="white"/>
              </svg>


