- var title = "W-WAWE";

doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Terentev-Suchkov Vitaliy")
    meta(name="decription", content="My first final study paper")
    meta(name="theme-color", content="#FFFFFF")
    title= title 
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="preload" href="./fonts/MullerRegular.woff2" as="font" crossorigin)
    link(rel="preload" href="./fonts/MullerMedium.woff2" as="font" crossorigin)
    link(rel="preload" href="./fonts/MullerBold.woff2" as="font" crossorigin)
    link(rel="preload" href="./fonts/MullerLightItalic.woff2" as="font" crossorigin)
    link(rel="preload" href="./fonts/MullerRegularItalic.woff2" as="font" crossorigin)
    link(rel="preload" href="./fonts/OpenSans-Regular.woff2" as="font" crossorigin)

    //- link(rel="stylesheet", href="./libs/css/choices.min.cs")
    link(rel="stylesheet", href="./libs/css/simplebar.min.css")
    link(rel="stylesheet", href="./libs/css/swiper-bundle.min.css")
    link(rel="stylesheet", href="./libs/css/normalize.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>")
    script(defer src="./libs/js/choices.min.js")
    script(defer src="./libs/js/inputmask.min.js")
    script(defer src="./libs/js/justvalidate.min.js")
    script(defer src="./libs/js/popper.min.js")
    script(defer src="./libs/js/simplebar.min.js")
    script(defer src="./libs/js/swiper.bundle.min.js")
    script(defer src="./libs/js/tippy.min.js")
    //- script(defer src="./js/main.min.js")

  body
    include header/_header.pug
