.card-programs {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 22px 16px 22px 16px;
    height: 100%;
    outline: 1px solid $grey-light;
    outline-offset: -1px;
  }

  &__title {
    //margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $main-text;
  }

  &__time {
    margin-bottom: 20px;
    font-size: 12px;
    color: $grey;
  }

  &__link {
    position: relative;
    align-self: flex-start;
    margin-top: auto;
    padding-right: 25px;
    font-style: italic;
    color: $main-text;
    background-image: url("../img/programs/card-more.svg");
    background-repeat: no-repeat;
    background-position: center right;
    outline: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, padding-right 0.3s ease-in-out;

    @include link-state;

    &:hover {
      padding-right: 35px;
      background-image: url("../img/programs/card-more-hover.svg");
    }

    &:focus {
      background-image: url("../img/programs/card-more-focus.svg");
    }

    &:active {
    padding-right: 35px;
    background-image: url("../img/programs/card-more-active.svg");
    }
  }

  @media (max-width: 1200px) {
    &__content {
      padding-bottom: 16px;
    }

    &__time {
      margin-bottom: 13px;
    }
  }
}
