.card-guest {
  display: none;

  &--active {
    display: block;
  }

  &__img {
    margin-bottom: 12px;
  }

  &__list-social {
    display: flex;
    gap: 32px;
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $white;
  }

  &__desc {
    margin-bottom: 30px;
    line-height: 28px;
    color: $grey;
  }

  &__link-broad {
    display: inline-block;
    padding: 9px 25px;
    color: $primary-light;
    outline-color: $primary-light;
  }
}

