.card-podcast {
  display: flex;
  height: 100%;
  background-color: white;

  &__img-wrap {
    position: relative;
    width: 112px;
  }

  &__date {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 6px;
    font-size: 10px;
    color: $main-text;
    background-color: $grey-light;
  }

  &__data {
    flex-grow: 1;
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 25px 30px 14px 30px;

  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__time {
    margin-bottom: 5px;
    font-size: 12px;
    color: $main-text;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $main-text;
  }

  &__name {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: $grey;
  }

  &__play {
    padding: 0;
    width: 47px;
    height: 48px;
    font-size: 0;
    background-color: transparent;
    background-image: url('../img/podcasts/play.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;


    &:hover {
      background-image: url('../img/podcasts/play-hover.svg');
    }

    &:focus-visible {
      background-image: url('../img/podcasts/play-focus.svg');
    }

    &:active {
      background-image: url('../img/podcasts/play-active.svg');
    }

    &--active {
      background-image: url('../img/podcasts/pause.svg');

      &:hover {
        background-image: url('../img/podcasts/pause.svg');
      }
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    padding: 5px 0 3px 30px;
    border-top: 1px solid $grey-light;
  }

  &__stats-item {
    position: relative;
    padding: 0;
    color: $grey;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -3px;
      bottom: 0;
      left: -3px;
      background-color: $primary-light;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

    }

    &:not(:last-child) {
      margin-right: 32px;
    }


    svg {
      margin-right: 5px;

      path {
        transition: fill 0.3s ease-in-out;
      }
    }

    &:hover {
      color: $primary;
      svg {
        path {
          fill: $primary;
        }
      }
    }

    &:focus-visible {
      color: #fff;
      svg {
        path {
          fill: #fff;
        }
      }

      &::before {
        opacity: 1;
        z-index: -1;
      }
    }

    &:active {
      color: $primary-dark;

      svg {
        path {
          fill: $primary-dark;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    &__content {
      padding-top: 23px;
    }
  }
}
