$path: "../assets/fonts";

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url("#{$path}/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Muller';
  src: local('Muller'), url("#{$path}/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Muller';
  src: local('Muller'), url("#{$path}/MullerBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url("#{$path}/MullerLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller'), url("#{$path}/MullerRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url("#{$path}/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
