.guests {
  padding-top: 83px;
  padding-bottom: 89px;
  background-color: $main-dark;

  &__subtitle {
    margin-bottom: 8px;
  }

  &__descr {
    margin-bottom: 49px;
    width: 825px;
    font-size: 20px;
    line-height: 32px;
    color: $grey;
  }

  &__content {
    display: flex;
    gap: 30px;
  }

  &__accordion {
    width: 730px;
  }

  &__info {
    // padding-top: 5px;
    width: 350px;
  }

  @media (max-width: 1200px) {
    & {
      padding-top: 83px;
      padding-bottom: 97px;
    }

    &__title {
      margin-bottom: 0;
    }

    &__descr {
      width: 540px;
    }

    &__info {
      width: 345px;
    }
  }

  @media (max-width: 1023px) {
    &__content {
      flex-direction: column;
    }

    &__descr {
      width: auto;
    }

    &__accordion {
      width: auto;
    }

    &__info {
      width: auto;
    }
  }
}
