.header {

  &__top {
    border-bottom: 1px solid $grey-light;
  }

  &__top-container {
    display: flex;
    align-items: center;
    padding: 18px 45px;
  }

  &__logo-wrap {
    margin-right: 80px;
  }

  &__logo {
    display: block;
    max-width: 160px;
  }

  &__content-wrap {
    display: flex;
    align-items: center;
  }

  &__search-btn {
    margin-right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      path {
        transition: stroke 0.3s ease-in-out;
      }
    }

    &:hover,
    &:focus {
      svg {
        path {
          stroke: $primary-light
        }
      }
    }

    &:active {
      svg {
        path {
          stroke: $primary-dark
        }
      }
    }
  }

  &__search-form {
    display: none;
  }

  &__bottom {
    border-bottom: 1px solid $grey-light;
  }

  &__bottom-container {
    display: flex;
    padding: 0 45px;
  }

  &__bottom-wrap {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }

  &__nav {
    padding: 8px 52px 8px 0;
    border-right: 1px solid $grey-light;
  }

  &__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 55px;
  }

  // &__nav-item:not(:last-child) {
  //   margin-right: 55px;
  // }

  &__nav-link {
    position: relative;
    color: $main-text;
    text-decoration: none;
    outline: none;
    transition: color 0.3s ease-in-out;

    @include link-state;
  }

  &__pegi {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 8px;
    background-color: $grey-light;

    &-text {
      padding: 5px;
      font-size: 12px;
      color: $grey;
      background-color: #fff;
      border-radius: 100%;
    }
  }

  &__burger {
    display: none;
  }

  &__mobile-open {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    color: $primary;
    line-height: 16px;

    svg { margin-right: 5px; }
  }

  &__mobile-brd {
    display: none;
    width: 24px;
    height: 24px;
  }

  @media (max-width: 1200px) {
    &__top-container {
      flex-direction: column;
      align-items: start;
      padding: 0;
      max-width: 100%;
    }

    &__logo-wrap {
      margin: 0;
      padding-block: 23px;
      padding-left: 100px;
      width: 100%;
      background-color: $grey-light;
    }

    &__logo {
      width: 112px;
      height: 14px;
    }

    &__content-wrap {
      justify-content: space-between;
      padding: 20px 100px;
      width: 100%;
    }

    &__bottom-container {
      padding: 22px 100px;
    }

    &__bottom-wrap {
      justify-content: space-between;
      padding-block: 7px;
      width: 100%;
    }

    &__nav {
      flex-grow: 1;
      padding-right: 35px;

      &-list {
        justify-content: space-between;
        gap: 0;
      }
    }

    &__broadcasts { margin: 0; }

    &__pegi {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    &__burger {
      display: block;
      margin-right: auto;
    }

    &__logo-wrap {
      padding-left: 114px;
    }

    &__content-wrap {
      padding-inline: 114px;
    }

    &__categories {
      display: none;
    }

    &__bottom-container {
      display: flex;
      align-items: center;
      padding-inline: 114px;
    }

    &__bottom-wrap {
      padding: 0;
    }

    &__nav {
      border: none;
      padding-block: 0;
    }

    &__broadcasts {
      display: none;
    }

    &__mobile-brd {
      display: block;
    }
  }

  @media (max-width: 767px) {
    &__logo-wrap {
      padding-left: 50px;
    }

    &__content-wrap {
      padding-inline: 50px;
    }

    &__bottom-container {
      padding-inline: 50px;
    }

    &__search-btn {
      margin: 0;
    }
  }

  @media (max-width: 576px) {
    &__logo-wrap {
      padding-left: 32px;
    }

    &__content-wrap {
      padding-inline: 32px;
    }

    &__bottom-container {
      border-right: 1px solid var(--grey-light);
      border-left: 1px solid var(--grey-light);
    }

    &__bottom-wrap {
      display: none;
    }

    &__bottom-container {
      padding: 0;
    }

    &__mobile-brd {
      display: none;
    }

    &__mobile-open {
      display: flex;
    }
  }
}


.page-nav {
  margin-right: 80px;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 59px;
  }

  &__link {
    position: relative;
    font-size: 20px;
    color: $main-text;
    text-decoration: none;
    outline: none;
    transition: color 0.3s ease-in-out;

    @include link-state;
  }

  @media (max-width: 1200px) {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.broadcasts {
  display: flex;
  margin-right: 52px;

  &__item {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 2px 44px 2px 10px;
    border-right: 1px solid $grey-light;
  }

  &__btn {
    margin-right: 11px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    background-image: url('./img/');
    outline: none;
    border: none;
    cursor: pointer;

    path { transition: fill 0.3s ease-in-out; }

    &:hover         { path { fill: $primary; } }
    &:focus-visible { path { fill: $primary-light;} }
    &:active        { path { fill: $primary-dark; } }
  }

  &__title {
    margin-bottom: 3px;
    color: $grey;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
  }

  &__name {
    color: $main-text;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  @media (max-width: 1200px) {
    &__item {
      padding-right: 18px;
      padding-left: 10px;
    }
  }
}
