.hero {

  &__container {
    padding-top: 95px;
    padding-bottom: 93px;
    background-image: url("../img/hero/1920/microphone.png");
    background-repeat: no-repeat;
    background-position-x: 805px;
    background-position-y: 37px;
  }

  &__title {
    margin-bottom: 13px;
    font-size: 60px;
    line-height: 60px;
  }


  &__name {
    padding-left: 13px;
    font-weight: 400;
    font-style: italic;
  }

  &__descr {
    margin-bottom: 45px;
    max-width: 600px;

    span {
      margin-right: 5px;
      padding-left: 3px;
    }
  }

  &__link {
    position: relative;
    margin-right: 2px;
    // Исключительная мера
    margin-left: 5px;
    color: $primary;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in-out, border-color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      right: -2px;
      bottom: -4px;
      left: -2px;
      background-color: $primary-light;
      opacity: 0;
    }

    &:hover {
      border-color: $primary;
    }

    &:focus-visible {
      color: #fff;

      &::after {
        opacity: 1;
        z-index: -1;
      }
    }

    &:active {
      color: $primary-dark;
      border-color: $primary-dark;
    }
  }

  &__btn {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (max-width: 1200px) {
    &__container {
      background-image: url("../img/hero/1024/microphone.png");
      background-position: 669px 95px;
    }
  }
}
