.podcasts {
  padding-top: 84px;
  padding-bottom: 94px;
  background-color: $light-grey;

  &__title {
    margin-bottom: 14px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 64px;
  }

  &__item:nth-last-child(-n+4) {
    display: none;

  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
