.podcasts {
  padding-top: 83px;
  padding-bottom: 94px;
  background-color: $grey-light;

  &__title {
    margin-bottom: 17px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__item {
    flex: 1 1 48%;
  }

  &__item:nth-last-child(-n+4) {
    display: none;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      background-color: transparent;
      color: $primary;
    }
  }

  @media (max-width: 1200px) {
    & {
      padding-top: 83px;
      padding-bottom: 91px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__list {
      margin-bottom: 62px;
    }
  }

  @media (max-width: 1023px) {
    &__list {
      flex-direction: column;
    }
  }
}
