.programs {
  padding-top: 108px;
  padding-bottom: 94px;

  &__container {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    //width: 25%;
  }

  &__archive {
    margin-top: auto;
    padding-top: 120px;
    background-image: url("../img/programs/archive/mic.png");
    background-repeat: no-repeat;
  }

  &__link {
    display: inline-block;
    margin-bottom: 12px;
    padding: 11px 45px 11px 65px;
    color: $login-black;
    background-image: url("../img/programs/archive/archive.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 40px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-image: url("../img/programs/archive/archive-white.svg");
    }
  }

  &__content {
    //width: 75%;
  }

  &__block {
    display: none;

    &--active {
      display: block;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    display: flex;
    min-height: 255px;
  }
}

// Choices
.choices {
  background-color: $light-grey;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;

  &.is-focused {
    outline: 1px solid $primary;
  }

  &.is-focused.is-open {
    outline: none;
  }

  &__inner {
    border: none;
    background-color: transparent;
  }

  &__list--dropdown {
    border-color: $light-grey;
  }

  &:hover {
    background-color: rgba(230, 232, 236, 0.4);
  }

  &:active {
    background-color: $dark-grey;
  }

  &__item {
    &:focus {
      background-color: rgba(230, 232, 236, 0.4)
    }
  }
}


.is-focused .choices__inner,
.is-open .choices__inner {
  border: none;
}


.is-open .choices__list--dropdown {
  margin-top: -10px;
  padding-top: 9px;
  border-color: $light-grey;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.is-open.is-flipped .choices__list--dropdown {
  margin-top: 0;
  margin-bottom: -10px;
  padding-top: 0;
  padding-bottom: 9px;
  border-color: $light-grey;
  border-radius: 10px 10px 0 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: $promo-black;
  background-color: rgba(230, 232, 236, 0.4);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.choices__list--dropdown .choices__item {
  color: $grey;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid $light-grey;
}

.is-open .choices__inner {
  position: relative;
  z-index: 10;
  border: none;
  border-radius: 10px;
  background-color: $light-grey;
}

.choices .choices__list.choices__list--dropdown .is-selected {
  display: none;
}

.is-flipped.is-open .choices__inner {
  border-radius: 10px;
}

.choices[data-type*=select-one]::after {
  top: 45%;
  right: 10px;
  margin: 0;
  width: 13px;
  height: 8px;
  border: none;
  background-image: url('../img/programs/select-arrow.svg');
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.choices[data-type*=select-one].is-open::after {
  margin: 0;
  transform: rotate(180deg);
  z-index: 100;
}
