html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  list-style: none;
}


body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
