$black:              #000000;
$white:              #FFFFFF;
$main-dark:          #121723;
$main-text:          #121723;
$primary:            #6D31EE;
$primary-light:      #AA9DFA;
$primary-dark:       #4F28A5;
$gold:               #F0D288;
$gold-dark:          #BB973E;
$grey:               #A1A6B4;
$grey-light:         #E6E8EC;
$grey-dark:          #D2D5DD;
$accordion-focus-bg: #292E39;
